<div class="e_loop_G s_list" needjs="true">
   <div class="swiper-container">
        {{#if prop.dataList}}
            <div class="swiper-wrapper">
                {{#prop.dataList}}
                <div class="swiper-slide">
                    <div class="cbox-${id} p_template"></div>
                </div>
                {{/prop.dataList}}
            </div>   
            <!-- 如果需要导航按钮 -->
             <div class="js_editor_click swiper-pagination"></div>
        {{/if}}
    </div>
</div>