.e_navigationA .p_level2Box, 
.e_navigationA .p_level3Box{
    display: none;
    height: auto;
}
.e_navigationA .p_iconBox{
    height: 45px;
    width: 45px;
    background: rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 0px 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.e_navigationA .p_openIcon, 
.e_navigationA .p_closeIcon{
    width: 100%;
    height: 23px;
}
.e_navigationA .p_navButton {
    display: none;
}