.e_navigationA .p_navContent{
    display: none;
    padding: 20px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fbfbfb;
    z-index: 99;
}
.e_navigationA .p_navButton{
    display: flex;
    justify-content: flex-end;
}
.e_navigationA .p_level1Box{
    width: 100%;
}
.e_navigationA .p_level2Box, 
.e_navigationA .p_level3Box{
    padding-left: 30px;
}
.e_navigationA .p_jtIcon{
    float: right;
    transition: 0.5s;
    height: 30px;
    margin-top: 10px;
}
.e_navigationA .p_jtHover {
    transition: 0.5s;
    transform: rotate(90deg);
}
.e_navigationA .p_level1Item {
    border-bottom: 1px solid rgb(0 0 0 / 5%);
    line-height: 50px;
    font-size: 14px;
}