.e_navigationA .p_level1Box{
    padding: 0 20px;
    display: none;
    height: calc(100vh - 57px);
}
.e_navigationA .p_level2Box, 
.e_navigationA .p_level3Box{
    padding-left: 20px;
}
.e_navigationA .p_iconBox{
    display: block;
}
.e_navigationA .p_closeIcon{
    float: right;
    display: none;
}
.e_navigationA .p_jtIcon{
    float: right;
    margin: 15px 0;
    transition: 0.5s;
}
.e_navigationA .p_jtHover {
    transition: 0.5s;
    transform: rotate(90deg);
}