.e_navigationE .p_navBox1{
    display: flex;
    justify-content: flex-end;
}
.e_navigationE .p_navItem1 > p{
    display: flex;
}
.e_navigationE .p_navItem1 > p svg{
    display:none;
}
.e_navigationE .p_navBox2{
    display: flex;
    justify-content: flex-end;
}
.e_navigationE .p_navBox2 ul{
    display: flex;
    justify-content: flex-end;
}
.e_navigationE .haveThree .p_navItem2 > a > .p_img{
    display: none;
}
.e_navigationE .haveThree .p_level3Item:nth-child(1) p{
    padding: 0;
    border: 0;
}
.e_navigationE .p_navItem2{
    margin-left: 50px;
}
.e_navigationE .p_navItem2:first-child{
    margin-left: 0px;
}
.e_navigationE .p_level3Item{
    margin-right: 15px;
}

.e_navigationE .p_navBox2{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    transition: all ease .3s;
    opacity: 0;
    visibility: hidden;
}
.e_navigationE .p_navItem1 > p a::after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    margin: 0 auto;
    transition: all ease .3s;
}
.e_navigationE .p_navItem1 > p a:hover::after{
    width: 100%;
}
.e_navigationE .p_navItem1:hover .p_navBox2,
.e_navigationE .p_navBox2.isdesign{
    opacity: 1;
    visibility: visible;
}
.e_navigationE .p_navBox2.isdesign{
    display: none;
}