.e_navigationE .p_navBox1::-webkit-scrollbar {
    width: 0px;
}
.e_navigationE .p_navBox1::-webkit-scrollbar-track {
    background: #eee;
}
.e_navigationE .p_navBox1::-webkit-scrollbar-thumb {
    background: #d7d7d7;
}
.e_navigationE .p_navBox1::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
.e_navigationE .p_navButton {
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.e_navigationE .p_navBox1{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f5f5f5;
    padding: 0 15px;
    height: calc(0vh);
    overflow-y: scroll;
    z-index: 10;
    max-height: 1080px;
    transition: all ease .3s;
    width: 100%;
}
.e_navigationE .p_navBox1.pkcclb{
    height: calc(100vh);
}
.e_navigationE .p_navBox1.isdesign{
    height: calc(100vh);
    display: none;
}
.e_navigationE .p_navItem1 {
    border-bottom: 1px solid rgb(0 0 0 / 7%);
}
.e_navigationE .p_navItem1:last-child{
    margin-bottom: 100px;
}
.e_navigationE .p_navCon{
    display: flex;
    justify-content: space-between;
    padding: 0;
    color: rgb(0 0 0 / 70%);
    font-size: 16px;
    line-height: 60px;
}
.e_navigationE .p_navItem1 > p svg{
    width: auto;
    margin: 18px 0;
    opacity: .7;
    cursor: pointer;
    transition: all ease .3s;
}
.e_navigationE .p_navItem1 > p svg.rotate{
    transform: rotate(90deg);
}
.e_navigationE .p_navItem1 > p a{
    padding: 0;
}
.e_navigationE .p_navItem1 a:hover{
    color: rgb(0 0 0 / 100%);
}
.e_navigationE .p_navItem2 a{
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    font-size: 14px;
    color: rgb(0 0 0 / 50%);
    font-weight: 500;
}
.e_navigationE .p_navItem2 .p_img{
    width: 23px;
    opacity: .8;
    margin: 0;
}
.e_navigationE .p_navItem2 .p_img img,
.e_navigationE .p_level3Item span img{
    width:100%;
    margin: 0;
}
.e_navigationE .p_navBox2{
    display: none;
    padding: 0;
    background: rgb(255 255 255 / 0%);
}
.e_navigationE .p_navBox2 > div{
    padding-bottom: 20px;
}
.e_navigationE .p_menuItem{
    padding-left: 0;
    border: 0;
    font-size: 14px;
}
.e_navigationE .p_level3Box{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    background: rgb(255 255 255 / 60%);
    padding: 15px;
}
.e_navigationE .p_level3Item span{
    display:none;
}
.e_navigationE .p_level3Item{
    width: 33.333%;
    display: inline-block;
}

.p_haveNav{
    min-height: auto !important;
}
.p_haveNav.fix{
    position: fixed !important;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}