<div class="e_loop_J s_list" needjs="true">
    {{#if prop.previewList}}
    <table id="table-${elemId}" lay-filter="table-${elemId}"></table>
    {{^}}
    {{{nNoDataPrompt i18n.noData}}}
    {{/if}}
</div>