.e_download{

}
.e_download button{
    font-size: 12px;
}
.e_download .p_item {
    height: 42px;
}

.e_download .p_name {
    width: 40%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.e_download .form-check-input {
    margin-top: 8px;
}
.e_download .p_filename {
   width: 100%;
   text-overflow: ellipsis;
   overflow: hidden;
}
.e_download .flex1 {
    flex:1;
}
.e_download .flex2 {
    flex:2;
}
.e_download .p_preview {
   border-width: 1px; 
   background-color: rgba(0,123,255,.1);
}
.e_download .p_allSelect {
    height: 30px;
    line-height: 30px;
}