.e_navigationC .p_navItem1{
    line-height: 1;
}
.e_navigationC .p_iconBox{
    height: 45px;
    width: 45px;
    background: rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 0px 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.e_navigationC .p_openIcon, 
.e_navigationC .p_closeIcon{
    width: 100%;
    height: 23px;
}
.e_navigationC .p_navButton{
    display: none;
}