.e_navigationC .p_navBox1{
    position: relative;
    justify-content: flex-end;
}
.e_navigationC p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.e_navigationC .p_jtIcon{
    display: none;
}
.e_navigationC .p_iconBox{
    display: none;
}
