.e_navigationC .p_navContent{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 20px;
    z-index: 99;
}
.e_navigationC .p_navButton{
    display: flex; 
    justify-content: flex-end;
}
.e_navigationC .p_navBox1{
    width: 100%;
}
.e_navigationC .p_navBox2{ 
   display: none;
   padding-left: 20px;
}
.e_navigationC .p_navItem2 a:hover{
    color: #000;
}
.e_navigationC .p_navItem1{ 
    padding: 0;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
    line-height: 50px;
    font-size: 14px;
 }
 .e_navigationC .p_navCon {
    display: flex;
    justify-content: space-between;
 }
.e_navigationC .p_navItem2{ 
    border: none;
}
.e_navigationC .p_img{ 
    display: none;
}
.e_navigationC .p_jtIcon{ 
    float: right;
    transition: 0.5s;
    height: 30px;
    margin-top: 10px;
}
.e_navigationC .p_jtHover {
    transition: 0.5s;
    transform: rotate(90deg);
}
.e_navigationC .p_imgBox{
    display: none;
}