.e_navigationC .p_navContent{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 20px;
    z-index: 99;
}
.e_navigationC .p_navButton{
    display: flex; 
    justify-content: flex-end;
}
.e_navigationC .p_navBox1{
    width: 100%;
}
.e_navigationC .p_navItem1{ 
    padding: 0;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
    line-height: 50px;
    font-size: 14px;
    text-align: left;
 }
 .e_navigationC .p_navItem2{
    line-height: 50px;
    width: auto;
    margin: 0;
}
 .e_navigationC .p_navCon {
    display: flex;
    justify-content: space-between;
 }
.e_navigationC .p_navItem2{ 
    border: none;
}
.e_navigationC .p_img{ 
    display: none;
}
.e_navigationC .p_jtIcon{ 
    float: right;
    transition: 0.5s;
    height: 30px;
    margin-top: 10px;
}
.e_navigationC .p_jtHover {
    transition: 0.5s;
    transform: rotate(90deg);
}
.e_navigationC .p_imgBox{
    display: none;
}
.e_navigationC .p_navBox1, .e_navigationC .p_navBox2{
    width: 100%;
    display: block;
}
.e_navigationC .p_navBox2{
    display: none;
    padding:0 0 0 20px;
    position: relative; 
    top: 0;
    left: 0;
    background: none;
}
.e_navigationC .p_navBox2 ul{
    width: 100%;
    display: block;
}
.e_navigationC .p_navCon{
    position: relative;
}
.e_navigationC .p_navCon a{
    display: block;
    padding: 0;
}
.e_navigationC .p_navCon::before{
    display: none;
}
.e_navigationC .p_navItem2{
    margin: 0 ;
}
.e_navigationC .p_navBox2 > div{
    width: 100%;
    max-width: 100%;
    margin: 0 ;
    display: block;
}
.e_navigationC .p_navBox2 ul::after{
    display: none;
}