<div class="e_input form-group" needjs="true">
    {{#if prop.showLabel}}
    <label class="p_label">
        {{prop.label}}
        {{#if prop.validate.required.value}}<span class="text-danger p_required">*</span>{{/if}}
    </label>
    {{/if}}
    <input type="text" class="form-control p_input" name="${elemId}" {{#if prop.showPlaceholder}}placeholder="{{prop.placeholder}}"{{/if}} >
    <div class="invalid-feedback"></div>
    <input type="hidden" name="propJson" value='{{{propJson}}}'>
</div>