<div class="e_uploadImg s_form1" needjs="true" {{#if prop.validate.required.value}}required{{/if}}>
    {{#if prop.showLabel}}
    <label class="p_label">
        <span class="s_label">{{prop.label}}</span>
    </label>
    {{/if}}
    <div class="p_imgList clearfix">
        <div class="p_imgItem p_uploadBtn">
            <div>
                <input type="file" name="file" accept="image/*" class="uploadInput" multiple>
                {{{prop.upIcon}}}
                <p class="text-danger">{{i18n.upload}}</p>
            </div>
        </div>
        <ul class="p_uploadList">
            
        </ul>
    </div>
    <p class="p_placeholder s_other">{{prop.placeholder}}</p>
    <input name="${elemId}" class="p_input" type="hidden" >
    <div class="invalid-feedback"></div>
</div>