.e_bannerC{
    height: 600px;
}
.e_bannerC .p_img{
    width: 100%;
    height: 100%;
    background: #000;
}
.e_bannerC .p_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.e_bannerC .custom-bullet{
    background:#ccc;
}
.e_bannerC .p_info{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 9;
    display: flex;
    transform: translateX(50%);
    align-items: center;
    text-align: center;
}
.e_bannerC .p_info div{
    width: 100%;
}
.e_bannerC .p_subtitle{
    line-height: 2;
    padding: 5px 0;
}
.e_bannerC .p_video{
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    margin-right: 0;
    margin-left: auto;
    position: relative;
}
.e_bannerC .p_video .videoContent{
    width: 100%;
    height: 100%;
}
.e_bannerC .p_video video{
    width: 100%;
    height: 100%;
    background: #000;
}
.e_bannerC .p_videoPoster{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}
.e_bannerC .p_videoPoster::before{
    content:" ";
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url('/npublic/img/playVideo.png') no-repeat center center;
}
.e_bannerC .p_videoPoster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


  .e_bannerC .swiper-slide img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .e_bannerC .gallery-top {
    height: 80%;
    width: 100%;
  }

  .e_bannerC .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding-top: 5px;
  }

  .e_bannerC .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.6;
  }
  .e_bannerC .gallery-thumbs .swiper-slide img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .e_bannerC .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  .e_bannerC .p_videoInfo{
    display: none;
}