<div class="e_searchResult s_list" needjs="true">
    <div class="p_container">
        <p class="p_preview">单图效果</p>
        <div class="cbox-${id}-0 p_item1"></div>
        <p class="p_preview">多图效果</p>
        <div class="cbox-${id}-1 p_item2"></div>
        <p class="p_preview">无图效果</p>
        <div class="cbox-${id}-2 p_item3"></div>
        <p class="p_preview">无数据效果</p>
        <div class="cbox-${id}-3 p_noData"></div>
    </div>
    <div class="p_list"></div>
</div>