<div class="e_searchResult s_list" needjs="true">
    <div class="p_container">
        <p class="p_preview">提示：单图效果（预览不展示）</p>
        <div class="cbox-${id}-0 p_item1"></div>
        <p class="p_preview">提示：多图效果（预览不展示）</p>
        <div class="cbox-${id}-1 p_item2"></div>
        <p class="p_preview">提示：无图效果（预览不展示）</p>
        <div class="cbox-${id}-2 p_item3"></div>
        <p class="p_preview">提示：无数据效果（预览不展示）</p>
        <div class="cbox-${id}-3 p_noData"></div>
        <p class="p_preview">提示：搜索中效果（预览不展示）</p>
        <div class="cbox-${id}-4 p_loading"></div>
    </div>
    <div class="p_list"></div>
    <div class="p_page"></div>
</div>