<h2 class="e_h2 s_body">
    {{#if prop.href.value}}
        <a href="{{$transferLink prop.href compId}}" target="{{prop.href.target}}">
    {{/if}}
    {{prop.h2}}
    {{#if prop.href.value}}
        </a>
    {{/if}}
</h2>