.e_bannerA .swiper-slide{
    height: 400px;
}
.e_bannerA .p_info{
    width: 100%;
    z-index: 9;
    text-align: center;
}
.e_bannerA .p_subtitle{
    display: none;
}
.e_bannerA .p_summary{
    display: none;
}
