<div class="e_contrast" needjs='true'>
    <div class="p_comp" data-ename="组件容器">
        <div class="p_compare hide clearfix" data-ename="对比内容">
            <div class="p_left">
                <div class="p_lop">
                    <div class="p_row p_rowt ">
                        <div class="p_ceil">
                            <div>
                                <input type="checkbox" class="hideSame" id="hideSame">
                                <label for="hideSame"></label>
                                <p>隐藏相同项</p>
                            </div>
                        </div>
                    </div>
                    <div class="p_mmenu">
                        <span>主题</span>
                    </div>
                </div>
                <div class="p_lcon">
                </div>
            </div>
            <div class="p_right">
                <div class="p_rcontent">
                    <div class="fixeddiv">
                            <div class="p_row p_rowt p_pcon clearfix">
                            </div>
                            <div class="p_mmenu rmmenu">&nbsp;
                                <a href="javascript:;" class="mt-3 p_marrow"></a>
                                <div class="p_mmenu_list">
                                    <div class="bg-white p_mmenu_nav">
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="p_rcon">
                    </div>
                </div>
            </div>
            <div class="p_menu">
                <ul class="p_pcm">
                </ul>
            </div>
           
        </div>
    </div>
    <div style="min-height: 500px;"></div>
    <input type="hidden" name="i18nJson" value='{{{i18nJson}}}' />
</div>