<div class="e_contrast" needjs='true'>
    <div class="e_comp p_comp" data-ename="组件容器">
        <div class="p_compare clearfix" data-ename="对比内容">
            <div class="p_left">
                <div class="p_lop">
                    <div class="p_row p_rowt ">
                        <div class="p_ceil">
                            <div>
                                <input type="checkbox" class="hideSame" id="hideSame">
                                <label for="hideSame"></label>
                                <p>隐藏相同项</p>
                            </div>
                        </div>
                    </div>
                    <div class="p_mmenu">
                        <span>主题</span>
                        {{!-- <a href="javascript:;" class="p_marrow"></a> --}}
                    </div>
                </div>
                <div class="p_lcon">
                    <div class="plg">
                        <div class="p_row p_rowgt" data-id="1">
                            <div class="p_ceil"><a href="javascript:;" class="p_arrow"></a>参数组名1</div>
                        </div>
                        <div class="p_lgc">
                            <div class="p_row">
                                <div class="p_ceil">参数名1</div>
                            </div>
                            <div class="p_row">
                                <div class="p_ceil">参数名2</div>
                            </div>
                        </div>
                    </div>
                    <div class="plg">
                        <div class="p_row p_rowgt" data-id="2">
                            <div class="p_ceil"><a href="javascript:;" class="p_arrow"></a>参数组名22</div>
                        </div>
                        <div class="p_lgc">
                            <div class="p_row">
                                <div class="p_ceil">参数名1</div>
                            </div>
                            <div class="p_row">
                                <div class="p_ceil">参数名2</div>
                            </div>
                        </div>
                    </div>
                    <div class="plg">
                        <div class="p_row p_rowgt" data-id="3">
                            <div class="p_ceil"><a href="javascript:;" class="p_arrow"></a>参数组名3</div>
                        </div>
                        <div class="p_lgc">
                            <div class="p_row">
                                <div class="p_ceil">参数名1</div>
                            </div>
                            <div class="p_row">
                                <div class="p_ceil">参数名2</div>
                            </div>
                        </div>
                    </div>
                    <div class="plg">
                        <div class="p_row p_rowgt" data-id="4">
                            <div class="p_ceil"><a href="javascript:;" class="p_arrow"></a>参数组名4</div>
                        </div>
                        <div class="p_lgc">
                            <div class="p_row">
                                <div class="p_ceil">参数名1</div>
                            </div>
                            <div class="p_row">
                                <div class="p_ceil">参数名2</div>
                            </div>
                        </div>
                    </div>
                    <div class="plg">
                        <div class="p_row p_rowgt" data-id="5">
                            <div class="p_ceil"><a href="javascript:;" class="p_arrow"></a>参数组名5</div>
                        </div>
                        <div class="p_lgc">
                            <div class="p_row">
                                <div class="p_ceil">参数名1</div>
                            </div>
                            <div class="p_row">
                                <div class="p_ceil">参数名2</div>
                            </div>
                        </div>
                    </div>
                    <div class="plg">
                        <div class="p_row p_rowgt" data-id="6">
                            <div class="p_ceil"><a href="javascript:;" class="p_arrow"></a>参数组名666</div>
                        </div>
                        <div class="p_lgc">
                            <div class="p_row">
                                <div class="p_ceil">参数名1</div>
                            </div>
                            <div class="p_row">
                                <div class="p_ceil">参数名2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p_right">
                <div class="p_rcontent">
                    <div class="fixeddiv">
                            <div class="p_row p_rowt p_pcon clearfix">
                                <div class="p_ceil p_product">
                                    <div class="p_product_img"><img src="https://omo-oss-image.site.cn/null/new2020122310000032194/design/image/hg.png_560xaf.png" alt=""></div>
                                    <div class="p_product_info">
                                        <p class="p_product_title">高亮不同项：则将不相同项增加底色高亮显示</p>
                                        <p class="text-danger font24 p_priduct_price"><span class="font16 p_priceUnit">￥</span>4298.00</p>
                                        <button class="btn btn-primary btn-sm">立即查看</button>
                                        <a href="javascript:;">删除</a>
                                    </div>
                                </div>
                                <div class="p_ceil">
                                    第2个商品
                                </div>
                                <div class="p_ceil">
                                    第3个商品
                                </div>
                                <div class="p_ceil">
                                    第4个商品
                                </div>
                            </div>
                            <div class="p_mmenu rmmenu">&nbsp;
                                <a href="javascript:;" class="mt-3 p_marrow"></a>
                                <div class="p_mmenu_list">
                                    <div class="bg-white p_mmenu_nav">
                                        <a href="javascript:;" data-id="1" class="toscroll badge badge-primary py-2 px-3">主题1</a>
                                        <a href="javascript:;" data-id="2" class="toscroll badge badge-primary py-2 px-3">主题1</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="p_rcon">
                        <div class="prg">
                            <div class="p_rowgt"><div class="p_ceil">&nbsp;</div></div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                        </div>
                        <div class="prg">
                            <div class="p_rowgt"><div class="p_ceil">&nbsp;</div></div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值1
                                </div>
                            </div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                            </div>
                        </div>
                        <div class="prg">
                            <div class="p_rowgt"><div class="p_ceil">&nbsp;</div></div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                        </div>
                        <div class="prg">
                            <div class="p_rowgt"><div class="p_ceil">&nbsp;</div></div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                        </div>
                        <div class="prg">
                            <div class="p_rowgt"><div class="p_ceil">&nbsp;</div></div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                        </div>
                        <div class="prg">
                            <div class="p_rowgt"><div class="p_ceil">&nbsp;</div></div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                            <div class="p_row p_rgc clearfix">
                                <div class="p_ceil">
                                    参数值1
                                </div>
                                <div class="p_ceil">
                                    参数值2
                                </div>
                                <div class="p_ceil">
                                    参数值3
                                </div>
                                <div class="p_ceil">
                                    参数值4
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p_menu">
                <ul class="p_pcm">
                    <li class="p_pcl"><a href="javascript:;" data-id="1" class="toscroll">主题1</a></li>
                    <li class="p_pcl"><a href="javascript:;" data-id="2" class="toscroll">主题2</a></li>
                    <li class="p_pcl"><a href="javascript:;" data-id="3" class="toscroll">主题3</a></li>
                    <li class="p_pcl"><a href="javascript:;" data-id="4" class="toscroll">主题4</a></li>
                    <li class="p_pcl"><a href="javascript:;" data-id="5" class="toscroll">主题5</a></li>
                    <li class="p_pcl"><a href="javascript:;" data-id="6" class="toscroll">主题6</a></li>
                </ul>
            </div>
           
        </div>
    </div>
    <div style="height: 1000px;"></div>
</div>