.e_categoryC{
    user-select:none;
}
.e_categoryC .p_c_tree>ul>li{
    display: inline-block;
}
.e_categoryC .p_c_item{
    position:relative;
    width: 140px;
    margin-bottom:1px;
}
.e_categoryC li .p_c_title{
    font-size: inherit;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.e_categoryC .p_c_item>.p_c_content{
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    z-index: 9;
}
.e_categoryC .p_c_tree>ul>.p_c_item>.p_c_content{
    left: 0;
    top: 100%;
}

.e_categoryC .p_c_mbtn,.e_categoryC .p_c_tree .p_c_mput{
    display:none;
}
