<div class="text-primary e_scrollNumber" needjs="true">
    <span class="p_num" {{#if prop.scroll}}use-rollNum{{/if}} data-num="{{prop.number}}">{{prop.number}}</span>
    <span class="p_plus">{{prop.unit}}</span>
    <input type="hidden" value='{{{propJson}}}' name="propJson" />
</div>
