.e_floatingA .p_obscuration{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 20;
}
.e_floatingA .p_obscuration.show{
  display: block;
}
.e_floatingA .p_title{
  display: flex;
  justify-content: space-between;
}
.e_floatingA .p_form-control{
  width: 7rem;
  display: none;
}
.e_floatingA .p_contrast{
  border-radius: 25px;
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 20;
}
.e_floatingA .p_contrast_text{
  min-width: 80px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.e_floatingA .p_contrast_num{
  position: absolute;
  right: 0px;
  top: -5px;
}
.e_floatingA .p_tab{
  height: 100%;
  margin-top: 11px;
}
.e_floatingA .p_title_compareTheBar{
  margin: 0 1px;
}
.e_floatingA .p_title_compareTheBar.active{
  background: #fff;
  border: 1px solid #007bff;
  border-bottom: #fff;
  margin: 0
}
.e_floatingA .p_data_list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.e_floatingA .p_item{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right-style: dashed;
}
.e_floatingA .p_item_delete{
  cursor: pointer;
  display: none;
}
.e_floatingA .p_compare_amount{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.e_floatingA .p_comparedata{
  flex: 1;
}
.e_floatingA .p_item:last-child{
  width: 230px;
}
.e_floatingA .p_item_img{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.e_floatingA .p_item_imgsrc{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.e_floatingA .p_compare_title{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.e_floatingA .p_last_item{
  display: flex;
  width: 230px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.e_floatingA .p_contrast,
.e_floatingA .p_contrast_hidden{
  display: none;
  opacity: 0;

}
.e_floatingA .p_danger.hide, .e_floatingA .hidden{
  display: none;
}
.e_floatingA .p_item:hover .p_item_delete{
  display: block;
  transition: 1s height, 1s width;
}
.e_floatingA .hidden.showList{
  display: block;
}
.e_floatingA .p_contrast_btn{
  width: 200px;
}
