<div class="e_provider s_title" needjs="true">
       <a href="http://www.beian.gov.cn/portal/index.do" target="_blank">
       {{i18n.recordName}}
       </a>
   <input type="hidden" name="i18nJson" value='{{{i18nJson}}}'>
</div>