<div class="form-group e_input">
    <label class="p_label">{{prop.label}}<span class="text-danger p_required">*</span></label>
    <input type="text" class="form-control p_input" placeholder="{{prop.placeholder}}">
    <div class="invalid-feedback"></div>
</div>