.e_label .p_labelItem{
    margin-right: 10px;
    margin-bottom:5px;
}
.e_label .p_labelItem input{
    display: none;
}
.e_label .p_labelItem label{
    padding: 0 10px;
    border-radius: 4px;
}
.e_label .p_labelItem input:checked+label{
    background-color: #ed6f2d;
    color: #fff;
}