.e_label .p_required{
    vertical-align: middle;
    font-size: 1.4em;
    line-height: 100%;
    position: relative;
    font-weight: bold;
    top: 0.15em;
    padding-left: 5px;
}
.e_label .p_labelItem{
    margin-right: 10px;
}
.e_label .p_labelItem input{
    display: none;
}
.e_label .p_labelItem label{
    padding: 0 10px;
    border-radius: 4px;
}
.e_label .p_labelItem input:checked+label{
    background-color: #ed6f2d;
    color: #fff;
}