.e_map_A{
    position: relative;
    width: 100%;
    min-height: 600px;
    background-color: skyblue;
    overflow: hidden;
}
.e_map_A #mapBox {
    z-index: 1;
 }
/* 搜索框样式 start */
.e_map_A .p_mapSearch{
    position: absolute;
    left: 8%;
    top: 50px;
    height: 90%;
    z-index: 9;
}
.e_map_A .p_search {
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(64, 158, 255, 1);
    border-radius: 100px;
    overflow: hidden;
}

/* 输入框 */
.e_map_A .p_input{
    width: 350px;
}

/* 搜索图标 */
.e_map_A .input-group-prepend {
    flex-shrink: 0;
    width: 50px;
    background-color: #fff;
    border-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}
.e_map_A .p_blue {
    transform: scale(1.5);
}
.e_map_A .p_prepend_text {
    background-color: #fff;
    color: rgba(64, 158, 255, 1);
}

.e_map_A .p_input {
    height: 50px;
    line-height: 50px;
}
.e_map_A .input-group-append {
    cursor: pointer;
    width: 50px;
    background-color: rgba(64, 158, 255, 1);
}
.e_map_A  .p_append_text {
    border-radius: 100px;
    color: #fff;
    background-color: rgba(64, 158, 255, 1);
}

/* 下拉内容 */
.e_map_A .p_mapList {
    position: absolute;
    left: 50px;
    width: 350px;
    height: 400px;
    padding: 0 15px;
    background-color: #fff;
    overflow-y: auto;
}
.e_map_A  .p_item {
    padding: 10px 0;
    border-bottom: 1px solid #dcdfe6;
}
::-webkit-scrollba {
    display: none;
}
/* ::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    display: none;
} */
/* .e_map_A .p_address {
    margin: 5px 0;
} */

/* 搜索框样式 end */