<div class="e_mobileCode s_form1 form-group" needjs="true" required>
    {{#if prop.showLabel}}
    <label class="p_label">
        <span class="s_label">{{prop.label}}</span>
    </label>
    {{/if}}
    <div class="p_input">
        <input type="text" class="form-control s_form-control s_input p_Number" name="${elemId}-Number" placeholder="{{prop.placeholder1}}">
        <div class="invalid-feedback"></div>
    </div>
    <div class="p_input">
        <input type="text" class="form-control s_form-control s_input p_Code" name="${elemId}-Code" placeholder="{{prop.placeholder2}}">
        <a href="javascript:;" class="btn btn-primary btn-sm p_sendBtn">{{i18n.send}}</a>
        <div class="invalid-feedback"></div>
    </div>
</div>