<h1 class="e_h1 s_subtitle">
    {{#if prop.href.value}}
        <a href="{{$transferLink prop.href compId}}" target="{{prop.href.target}}">
    {{/if}}
    {{prop.h1}}
    {{#if prop.href.value}}
        </a>
    {{/if}}
</h1>