.e_categoryA {
    user-select:none;
    font-size:14px;
}
.e_categoryA  ul{
    list-style-type:none;
    padding-left:30px;
    margin:0;
}
.e_categoryA  .p_c_tree>ul{
    padding:0;
}
.e_categoryA  li{
    position:relative;
}
.e_categoryA  li .p_c_title{
    display:block;
    position:relative;
    line-height:42px;
    border-bottom:1px solid #e4e7ec;
    cursor:pointer;
    padding-left:10px;
}
.e_categoryA  li .p_c_title img{
    width:20px;
    height:20px;
    vertical-align:middle;
    margin-right:5px;
    margin-top: -4px;
}
.e_categoryA  .p_c_title .p_arrow{
    position:absolute;
    right:10px;
    top: 13px;
    width:16px;
    height: 16px;
    transform:rotate(-90deg);
    color:#ccc;
    fill: currentColor;
}
.e_categoryA  .p_c_mbtn,
.e_categoryA  .p_c_mput,
.e_categoryA  .p_c_item>.p_c_content{
    display:none;
}
.e_categoryA.slide_out{
    width: 220px;
}
.e_categoryA.slide_out ul{
    padding-left:0;
}
.e_categoryA.slide_out .p_c_item>.p_c_content{
    position:absolute;
    z-index: 9;
    width:220px;
    left:220px;
    top:0;
}
.e_categoryA.slide_out .p_c_title .p_arrow{
    transform: rotate(180deg)
}