.e_relevantItem{

}
.e_relevantItem .p_thead{
    height: 36px;
    line-height: 36px;
    display: flex;
    background-color: #f0f0f0;
}
.e_relevantItem .p_tbody{
    min-height: 36px;
    margin-bottom: 20px;
}
.e_relevantItem .p_tr{
    display: flex;
}
.e_relevantItem .p_th,.p_td{
    flex: 1;
}