<div class="e_relevantItem {{#if prop.isHide}}formHide{{/if}}" needjs="true">
    <div class="p_thead">
        {{#prop.previewList}}
        <div class="p_th">{{label}}</div>
        {{/prop.previewList}}
    </div>
    <div class="p_tbody">
        <div class="p_tr">
        </div>
    </div>
    {{#eq prop.type 2}}
    <div>
        <a href="javascript:;" class="btn btn-primary btn-sm p_addRow" data-toggle="modal" data-target="#relevantModal">{{prop.btnText}}</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="relevantModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content p_modalContent">
                <div class="modal-header bg-primary text-white">
                    <h6 class="modal-title" id="modalTitle">选择</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-white" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
    {{/eq}}

</div>