<div class="e_relevantItem">
    <div class="p_thead">
        {{#prop.previewList}}
        <div class="p_th">{{label}}</div>
        {{/prop.previewList}}
    </div>
    <div class="p_tbody">
        <div class="p_tr">
        </div>
    </div>
    <div>
        <button class="btn btn-primary btn-sm s_button1">{{prop.btnText}}</button>
    </div>
</div>