<div class="e_relevantItem">
    <div class="p_thead">
        {{#prop.previewList}}
        <div class="p_th">{{label}}</div>
        {{/prop.previewList}}
    </div>
    <div class="p_tbody">
        <div class="p_tr">
        </div>
    </div>
    <div>
        <a href="javascript:;" class="btn btn-primary btn-sm">{{prop.btnText}}</a>
    </div>
</div>