.e_cardLabel .p_card{
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 150px;
    padding: 0 10px;
}
.e_cardLabel .p_img{
    padding-top: 10px;
    width: 130px;
    height: 100px;
}
.e_cardLabel .p_imgCon{
    display: block;
    width: 100%;
    height: 100%;
}
.e_cardLabel .p_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.e_cardLabel .p_labelItem{
    margin-right: 10px;
    margin-bottom:5px;
    cursor: pointer;
    float: left;
}
.e_cardLabel .p_labelItem input{
    display: none;
}
.e_cardLabel .p_labelItem input:checked+.p_card{
    border: 1px solid #00cafd;
    background-color: #eaffff;
}
.e_cardLabel .p_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #999;
}
.p_title,.p_value{
    flex: 1;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.p_value{
    text-align: right;
}