<div class="e_loop_B" needjs="true">
     <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
        {{#each prop.dataList}}
         <div class="swiper-slide">
             <div class="cbox-${id} p_template"></div>
         </div>
       {{/each}}
    </div>
    <!-- Add Pagination -->
    <div class="js_editor_click swiper-button-prev"></div>
    <div class="js_editor_click swiper-button-next"></div>
  </div>
</div>