
.e_flagIcon{
    text-align: right;
}
.e_flagIcon .p_flog{
    display: inline-block;
    width: 25%;
    max-width: 200px;
}

.e_flagIcon .p_flog_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}