<div class="e_flagIcon">
         {{#prop.markList}}
            <div class="p_flog">
                <div class="p_flog_c">
                    {{{nLazyImage markUrl markName "true"}}}
                </div>
            </div>
        {{/prop.markList}}
</div>