<div class="e_flagIcon">
    
         {{#prop.markList}}
            <div class="p_flog"   >
                <div class="p_flog_c"> <img src="{{markUrl}}" alt="{{markName}}" class="p_flog_img" ></div>
            </div>
        {{/prop.markList}}
     
    
</div>