<div class="e_flagIcon">
    {{#if prop.markList}}
     <div class="p_flog"   >
        {{#prop.markList}}
        <div class="p_flog_c"> <img src="{{markIUrl}}" alt="{{markName}}" class="p_flog_img" ></div>
        {{/prop.markList}}
    </div>
    {{/if}}
</div>