.e_emailCode .p_Code{
    width: 150px;
    display: inline-block;
}
.e_emailCode .p_Number{
    margin-bottom: 10px;
}
.e_emailCode .p_sendBtn{
    margin-left: 5px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    font-size: 12px;
}