<div class="e_emailCode form-group">
    {{#if prop.showLabel}}
    <label class="p_label">
        {{prop.label}}
        <span class="text-danger p_required">*</span>
    </label>
    {{/if}}
    <div class="p_input">
        <input type="text" class="form-control p_Number" name="${elemId}-Number" placeholder="{{prop.placeholder1}}">
        <input type="text" class="form-control p_Code" name="${elemId}-Code" placeholder="{{prop.placeholder2}}">
        <button class="e_button btn btn-primary btn-sm s_button1 p_sendBtn">发送邮件验证码</button>
    </div>
    <div class="invalid-feedback"></div>
    <input type="hidden" name="propJson" value='{{{propJson}}}'>
</div>