<div class="e_code form-group formHide" required>
    {{#if prop.showLabel}}
    <label class="p_label">
        <span>{{prop.label}}</span>
    </label>
    {{/if}}
    <div>
        安全验证
    </div>
</div>