<div class="e_code form-group formHide" required>
    {{#if prop.showLabel}}
    <label class="p_label">
        <span>{{prop.label}}</span>
    </label>
    {{/if}}
    <div>{{i18n.propmpt}}</div>
</div>