html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
* {
    box-sizing: border-box;
}
html,body {
    height: 100%;
    background-color: #f1f1f1;
    font-family: "Arial", "Microsoft yahei", sans-serif;
    text-decoration: none;
}
body{
    padding: 20px;
}

.e_container .p_item,.e_loop .p_item,.e_form .p_formItem,[class*='cbox-']{
    border: 1px dashed #ccc;
    min-height: 200px;
    line-height: 200px;
    text-align: center;
}

.e_container .p_item::after,.e_loop .p_item::after,.e_form .p_formItem::after,[class*='cbox-']::after{
    content: "容器";
    color:#ccc
}
.formHide{
    display: block!important;
}
