html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
* {
    box-sizing: border-box;
}
html,body {
    height: 100%;
    background-color: aquamarine;
    font-family: "Arial", "Microsoft yahei", sans-serif;
    text-decoration: none;
}
body{
    padding: 20px;
}

.e_container .p_item,.e_loop .p_item{
    border: 1px dashed #ccc;
    min-height: 200px;
}

.e_container .p_item::after,.e_loop .p_item::after{
    content: "容器";
    color:#ccc
}
.e_hidden{
    border: 1px dashed #ccc;
    height: 40px;
}
.e_hidden::after{
    content: "隐藏表单项";
    color:#ccc
}