.e_categoryB {
    user-select:none;
    font-size:14px;
}
.e_categoryB  ul{
    list-style-type:none;
    padding-left:30px;
    margin:0;
}
.e_categoryB  .p_c_tree>ul{
    padding:0;
}
.e_categoryB  li{
    position:relative;
}
.e_categoryB  li .p_c_title{
    display:block;
    position:relative;
    line-height:42px;
    border-bottom:1px solid #e4e7ec;
    cursor:pointer;
    padding-left:10px;
}
.e_categoryB  li .p_c_title.active,
.e_categoryB  li .p_c_title:hover{
    background:#e1f6ff;
}
.e_categoryB  li .p_c_title img{
    width:20px;
    height:20px;
    vertical-align:middle;
    margin-right:5px;
}
.e_categoryB  .p_c_title .p_arrow{
    position:absolute;
    right:10px;
    top: 13px;
    width:16px;
    height: 16px;
    transform:rotate(-90deg);
    color:#ccc;
    fill: currentColor;
}
.e_categoryB  .p_c_mbtn,
.e_categoryB  .p_c_mput,
.e_categoryB  .p_c_item>.p_c_content{
    display:none;
}
