<div class="form-group e_date">
    <label class="p_label">{{prop.label}}</label>
    <input type="text" class="form-control p_input" disabled placeholder="{{prop.placeholder}}">
    <div class="invalid-feedback"></div>
</div>