.e_rangeDate{

}
.e_rangeDate .p_start,.e_rangeDate .p_end{
    width: calc(50% - 10px);
    float: left;
    border: none;
    outline: none;
    line-height: 20px;
    text-align: center;
}
.e_rangeDate .p_fenge{
    display: block;
    width: 20px;
    text-align: center;
    float: left;
    color: #bbb;
}
.e_rangeDate .e_date .is-invalid .p_input{
    border-color: #dc3545;
}