.e_rangeDate{

}
.p_start,.p_end{
    width: calc(50% - 10px);
    float: left;
    border: none;
    outline: none;
    line-height: 20px;
    text-align: center;
}
.p_fenge{
    display: block;
    width: 20px;
    text-align: center;
    float: left;
    color: #bbb;
}