<div class="e_rangeDate s_form1 form-group" needjs="true" {{#if prop.validate.required.value}}required{{/if}}>
    {{#if prop.showLabel}}
    <label class="p_label">
        <span class="s_label">{{prop.label}}</span>
    </label>
    {{/if}}
    <div class="j_date form-control s_form-control clearfix p_range">
        <input type="text" name="${elemId}-start" {{#eq prop.showPlaceholder 'word'}}placeholder="{{prop.startPlaceholder}}"{{/eq}} class="p_start s_input">
        <span class="p_fenge">—</span>
        <input type="text" name="${elemId}-end" {{#eq prop.showPlaceholder 'word'}}placeholder="{{prop.endPlaceholder}}"{{/eq}} class="p_end s_input">
    </div>
    <div class="invalid-feedback"></div>
</div>