<div class="e_rangeDate form-group" needjs="true">
    {{#if prop.showLabel}}
    <label class="p_label">
        {{prop.label}}
        {{#if prop.required}}<span class="text-danger p_required">*</span>{{/if}}
    </label>
    {{/if}}
    <div class="j_date form-control clearfix p_range">
        <input type="text" {{#if prop.showPlaceholder}}placeholder="{{prop.startPlaceholder}}"{{/if}} class="p_start" value="" >
        <span class="p_fenge">—</span>
        <input type="text" {{#if prop.showPlaceholder}}placeholder="{{prop.endPlaceholder}}"{{/if}} class="p_end" value="" >
    </div>
    <div class="invalid-feedback"></div>
    <input type="hidden" name="propJson" value='{{{propJson}}}'>
</div>