<div class="e_loop_H s_list" needjs="true">
    {{#if prop.dataList}}
        <div class="p_first">
             <!-- 第一条 -->
            {{#prop.dataList}}
                {{#eq @index 0}}
                    <div class="cbox-${id}-0 p_loopitem"></div>
                {{/eq}}
            {{/prop.dataList}}
        </div>
        <div class="p_list">
            <!-- 后面的 -->
            {{#prop.dataList}}
                <div class="cbox-${id} p_loopitem {{#eq @index 0}} hide {{/eq}}"></div>
            {{/prop.dataList}}
        </div>
        <div class="p_page">
            {{{nPaging prop.page prop.pageConfig datasource i18nJson }}}
        </div>
    {{^}}
        {{{nNoDataPrompt i18n.noData}}}
    {{/if}}
    <!-- 所需数据 -->
    <input type="hidden" name="_config" value='{{$toJson datasource._config}}'>
    <input type="hidden" name="pageParamsJson" value='{{$toJson datasource.page}}'>
    <input type="hidden" name="i18nJson" value='{{i18nJson}}'>
</div>