.e_specification {
}
.e_specification img {
    width: 36px;
    height: 36px;
    object-fit: cover;
}
.e_specification .p_item {
    padding-bottom: 10px;
    overflow: hidden;
}
.e_specification .p_specName {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
.e_specification .p_valueUl {
    margin-left: 40px;
    overflow: hidden;
}
.e_specification .itemValue {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
}
.e_specification .p_active {
    border-color: var(--primary);
}
.e_specification .specValueT {
    display: block;
    padding: 3px 16px;
    text-align: center;
}
.e_specification .p_imgName {
    padding: 0 8px;
}
/* 图片 无文字 */
.e_specification.style .p_imgName {
    display: none;
}
/* 左侧 文字 */
.e_specification.style1 .specValueI {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
/* 右侧 文字 */
.e_specification.style2 .p_imgName {
}
/* 伸缩蚊帐 显示 */
.e_specification.style3 .specValueI {
    display: flex;
    align-items: center;
}
.e_specification.style3 .p_imgName {
    display: none;
}
.e_specification.style3 .p_active .p_imgName {
    display: block;
}
