.e_specification{

}
.e_specification img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.e_specification .p_item{
    padding-bottom: 10px;
    overflow: hidden;
}
.e_specification .p_specName {
   float: left;
   height: 30px;
   line-height: 30px;
}
.e_specification .p_valueUl {
    margin-left: 40px;
    overflow: hidden;
}
.e_specification .itemValue {
    float: left;
    margin-right: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
.e_specification .specValueT {
    display: block;
    padding: 3px 16px;
    text-align: center;
    border: 1px solid #ccc;
}
.e_specification .specValueI {
    width: 46px;
    height: 46px;
}