.e_categoryB{
    user-select:none;
    font-size:14px;
    width: 100%;
    max-width: 100%;
}
.e_categoryB ul{
    list-style: none;
    margin:0;
}
.e_categoryB li{
    position:relative;
}
.e_categoryB .deep a{
    width: calc(100% - 50px);
    width: 100%;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
}
.e_categoryB .p_c_title1{
    display: flex;
    justify-content: space-between;
    position:relative;
    line-height: 50px;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
    transition: all ease .3s;
    width: 100%;
    color: #333;
    background: #f5f5f5;
}
.e_categoryB .deep-2{
    width: 100%;
}
.e_categoryB .p_arrbtm{
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid rgb(0 0 0 / 5%);
    transition: border-left ease .3s;
}
.e_categoryB .p_arrow{
    margin: 0;
    font-size: 12px;
    transform: rotate(-90deg);
    line-height: 1;
    padding: 0;
    width: auto;
    height: 14px;
    right: 15px;
    pointer-events: none;
}
.e_categoryB .p_c_title2{
    display: flex;
    justify-content: space-between;
    position:relative;
    line-height: 50px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 15px;
    transition: all ease .3s;
    width: 100%;
    color: #666;
    background: #ededed;
}
.e_categoryB .deep-3{
    width: 100%;
}
.e_categoryB .p_c_title3{
    display: flex;
    justify-content: space-between;
    position:relative;
    line-height: 50px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 15px;
    transition: all ease .3s;
    width: 100%;
    color: #666;
    background: #e3e3e3;
}

.e_categoryB .p_c_images{
    width: 27px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6px;
    order: -1;
    overflow: hidden;
    transition: all ease .3s;
}
.e_categoryB .p_c_images img{
    width: 100%;
    height: auto;
    vertical-align:middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.e_categoryB p:hover .p_c_images{
    opacity:0;
    margin-right: 0px;
    width: 0px;
}

.e_categoryB .deep:hover{
    background: #007bff;
    color: #fff;
    border-bottom: 1px solid #007bff;
}
.e_categoryB .active > p{
    background: #007bff;
    color: #fff;
    border-bottom: 1px solid #007bff;
}
.e_categoryB .deep:hover .p_arrbtm{
    border-left: 1px solid rgb(255 255 255 / 10%);
}

.e_categoryB li:last-child > .deep{
    border-bottom: 0px solid #ebebeb;
}
