.e_categoryB .p_c_tree{
    position:fixed;
    top:0;
    right:-100%;
    height:100%;
    padding-left:36px;
    width:100%;
    transition:right 0.2s;
    background:#555;
    z-index: 99;
}
.e_categoryB .p_c_tree.show{
    right:0
}
.e_categoryB .p_c_tree>ul{
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
}
.e_categoryB .p_c_mbtn{
    display:inline-block;
}
.e_categoryB .p_c_tree .p_c_mput{
    display:block;
    text-align:center;
    width:36px;
    height:100%;
    line-height:100vh;
    background:#888;
    position:absolute;
    left:0px;
}
.e_categoryB .p_c_tree .p_c_mput .icon{
    transform: rotate(180deg);
    fill: #ccc;
}
.e_categoryB .p_c_title{
    color:#f4f4f5
}
