<div class="e_loop_L s_list" needjs="true">
    {{#arrControl prop.dataList prop.pageConfig.status}}
        <div class="swiper-container p_swiper_container {{#eq prop.pageConfig.effect "effect2" }}swiper-3d{{/eq}}  {{prop.pageConfig.effect}}">
            <div class="swiper-wrapper">
                {{#prop.dataList}}
                    <div class="swiper-slide cbox-${id} p_template"></div>
                {{/prop.dataList}}
            </div>
            {{#if prop.pageConfig.switchBtn}}
                <!-- 导航按钮 -->
                <div class="js_editor_click swiper-button-prev p_swiper_prev"></div>
                <div class="js_editor_click swiper-button-next p_swiper_next"></div>
            {{/if}}

            <!-- 分页器 -->
            <div class="js_editor_click swiper-pagination p_swiper_pagination"></div>
        </div>
    {{else}}
        无数据
    {{/arrControl}}
</div>