.e_bannerB{

}
.e_bannerB img{ max-width:100%; vertical-align:middle;}

.e_bannerB .swiper-pagination-bullet{ width:1em; height:2px; background:#fff; opacity:0.5; box-sizing:border-box; border-radius:0; -webkit-border-radius:0; vertical-align:middle;}
.e_bannerB .swiper-pagination-bullet-active{width:1em; height:1em; border:2px solid #fff; background:none; opacity:1;border-radius:50%; -webkit-border-radius:50%;}
.e_bannerB .swiper-button-prev,.e_bannerB .swiper-button-next{width:40px; height:60px; top:50%; margin-top:-30px; visibility:hidden; color: #ccc;}
.e_bannerB:hover .swiper-button-prev,.e_bannerB:hover .swiper-button-next{ visibility:visible;}
.e_bannerB .swiper-button-prev{ left:50px;}
.e_bannerB .swiper-button-next{ right:50px;}
.e_bannerB .swiper-slide {width: 65%;}


.e_bannerB .swiper-slide{
    height: 600px;
}
.e_bannerB .p_img{
    width: 100%;
    height: 100%;
    background: #000;
}
.e_bannerB .p_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.e_bannerB .custom-bullet{
    background:#ccc;
}
.e_bannerB .p_info{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 9;
    display: flex;
    transform: translateX(50%);
    align-items: center;
    text-align: center;
}
.e_bannerB .p_info div{
    width: 100%;
}
.e_bannerB .p_subtitle{
    line-height: 2;
    padding: 5px 0;
}
.e_bannerB .p_video{
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    margin-right: 0;
    margin-left: auto;
    position: relative;
}
.e_bannerB .p_video video{
    width: 100%;
    height: 100%;
    background: #000;
}
.e_bannerB .p_videoPoster{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}
.e_bannerB .p_videoPoster::before{
    content:" ";
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url('/public/img/playVideo.png') no-repeat center center;
}
.e_bannerB .p_videoPoster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
