<div class="e_button">
    {{#if prop.href.value}}
        <a href="{{$transferLink prop.href}}" target="{{prop.href.target}}">
    {{/if}}
    <button class="btn btn-primary">{{prop.text}}</button>
    {{#if prop.href.value}}
        </a>
    {{/if}}
</div>