{{#if prop.status}}
<a class="e_button btn btn-primary s_button1" href="{{#if prop.href.value}}{{$transferLink prop.href compId}}{{^}}javascript:;{{/if}}" {{#if prop.href.value}}target="{{prop.href.target}}"{{/if}}>
    <span>{{prop.text}}</span> 
</a>
{{/if}}


