<div class="e_button">
    {{#if prop.href}}
        <a href="{{prop.href}}" target="{{prop.target}}">
    {{/if}}
    <button class="btn btn-primary">{{prop.text}}</button>
    {{#if prop.href}}
        </a>
    {{/if}}
</div>