<p class="e_text s_title">
    {{#if prop.href.value}}
        <a href="{{$transferLink prop.href compId}}" target="{{prop.href.target}}">
    {{/if}}
    {{prop.text}}
    {{#if prop.href.value}}
        </a>
    {{/if}}
</p>