.e_loop_K table {
    border-collapse: collapse;
    width: 100%;
}
.e_loop_K table th,
.e_loop_K table td {
    border: 1px solid #ccc;
}
.e_loop_K table th {
    text-align: center;
}
.e_loop_K table tbody td{
    position: relative;
    height: 120px;
}
.e_loop_K .p_icon,
.e_loop_K .p_screen {
    position: relative;
    cursor: pointer;
}
.e_loop_K .p_screen .p_screenData {
    display: none;
    position: absolute;
    left: 22px;
    top: 12px;
    width: 100px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 0px rgba(22, 45, 61, 0.3);
    background: #fff;
    z-index: 9999;
}
.e_loop_K .p_screen .p_screenData label {
    float: left;
    width: 100%;
    margin: 3px 0;
    text-align: left;
}
.e_loop_K .p_screen .p_optDta{
    padding: 5px;
    overflow: hidden;
}
.e_loop_K .p_screen .p_clear {
    background: #4d90cb;
    color: #fff;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0 4px;
    cursor: pointer;
}
.e_loop_K .p_loopitem{
    min-width: 50px;
}