.e_loop .p_list{
    display: flex;
		flex-wrap: wrap;
		position: relative;/*解决无缝滚动在循环体多列展示问题  */
		max-width: 100%;/* 解决无缝滚动在循环体多列展示问题 */
		
}
.e_loop .p_loopitem{
    flex:0 0 33.3%;
    position: relative;
}
.e_loop .p_page{
		text-align: center;
		
}
.e_loop .p_filter_wrapper{
		width: 100%;
		font-size: 13px;
}
.e_loop .p_kv_wrapper{
    display: flex;
		flex-wrap: nowrap;
		line-height: 40px;
		margin: 15px 0;
}
.e_loop .p_filter_key{
		/* min-width: 80px; */
		width: 70px;
		overflow: hidden;
		margin-right: 10px;
		font-weight: bold;
		color:#333333;
		font-size:12px;

}
.e_loop .p_v_item{
    display: inline-block;
		padding: 0 3px;
		cursor: pointer;
		font-size: 13px;
		color: #555555;
		margin-right: 30px;;
}
.e_loop .p_active .p_fbutton{
		color: #fff; 
		background-color:cornflowerblue ;
		/* border-radius: 2px; */
}
.e_loop .p_result_item{
    position: relative;
    padding: 3px 20px 3px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;;
    margin-right:10px;
}
.e_loop .p_filter_close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    font-style: normal;
    font-size: 16px;
    margin-top: -5px;
    cursor: pointer;
}
.e_loop .p_s_option{

}
.e_loop .multSelect {
	font-size: 13px;
	position: relative;
}
.e_loop .multSelect .inputWrap {
    width: 100%;
    min-width: 100px;
	min-height: 24px;
	
	border: 1px solid #DCDFE6;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	background: white;
}
.e_loop .multSelect.is-invalid .inputWrap {
	border-color: #dc3545;
}
.e_loop .multSelect ul {
	padding: 0 5px;
	margin: 0;
	padding-right: 35px;
}
.e_loop .multSelect ul,li {
	list-style: none;
}
.e_loop .multSelect li {
	display: inline-block;
	background: #edf0f3;
	color: #92969c;
	padding: 0px 5px;
	margin: 1px 5px 1px 0;
	border-radius: 5px;
	line-height: 16px;
}
.e_loop .multSelect .multSelect-option {
	width: 100%;
	border: 1px solid #DCDFE6;
border-radius: 2px;
	border-top: 0;
	max-height: 200px;
	overflow-y: scroll;
	position: absolute;
	height: 0;
	opacity: 0;
	z-index: 9;
	background: #fff;
}
.e_loop .multSelect .multSelect-option>div {
	line-height: 24px;
	cursor: pointer;
	padding: 0 10px;
}
.e_loop .multSelect .multSelect-option>div.selected {
	color: #409eff;
}
.e_loop .multSelect .multSelect-option>div:hover {
	color: #409eff;
	background: #f3f6f9;
}
.e_loop .multSelect .fa-close {
	font-style: normal;
	font-size: 12px;
	padding: 0 5px 0 7px;
}
.e_loop .multSelect .inputWrap>.fa svg {
	fill: #666;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 0;
	top: calc(50% - 3px);
}
.e_loop .multSelect .inputWrap>.fa-down svg {
	transform: rotate(-90deg);
}
.e_loop .multSelect .inputWrap>.fa-up svg {
	transform: rotate(90deg);
}
.e_loop .multSelect .placeholder {
	line-height: 40px;
	padding-left: 10px;
	color: #aaa;
	position: absolute;
	left: 0;
	top: 0;
}
/* .e_loop .p_filter_close::before{
    content: "\2716";
    
} */
/* .e_loop .p_filter_select{
		width: 110px;
		height: 24px;
		padding: 0;
		border: 1px solid #DCDFE6;

} */
.e_loop .p_normal_start
{
    display: inline;
		width: 60px;
		height: 22px;

}
.e_loop .p_date_start
{
    display: inline;
		width: 105px;
		height: 22px;

}
.e_loop .p_normal_end{
    display: inline;
    width: 60px;
		height: 22px;
		margin-right:5px
}
.e_loop .p_date_end{
	display: inline;
	width: 105px;
	height: 22px;
	margin-right:5px
}
.e_loop .p_split{
	margin: 0 5px
}
.e_loop .p_normal{
    margin-right: 16px;
}


.e_loop .p_fbutton{
	background-color: #007bff;
	border: 1px solid #409EFF;
	text-decoration: none;
	color: white;
	font-size: 14px;
	text-align: center;
	padding: 10px 25px;
	position: relative;
	overflow: hidden;
	
}
.e_loop .input-check,
.e_loop .input-radio{
	margin: 0 5px;
	vertical-align: text-top;
}
.e_loop .position-left{
	display:flex;
	
}
.e_loop .position-right{
	display: flex;
	flex-direction: row-reverse;
}
.e_loop .position-top{
	/* display: flex; */
}
.e_loop .position-bottom{
	display: flex;
	flex-direction: column-reverse;
}

.e_loop .p_mbutton{
	border: 1px solid #409EFF;
	text-decoration: none;
	color: #409EFF;
	font-size: 14px;
	text-align: center;
	padding: 10px 25px;
	position: relative;
	overflow: hidden;
}
.e_loop .p_mbutton:after{
	content: "";
display: none;
width: 16px;
height: 16px;
background-color: #409eff;
-webkit-transform: skewY(
-45deg);
transform: skewY(
360deg);
position: absolute;
bottom: 0px;
right: 0;
z-index: 1;
}
.e_loop .p_mbutton::before{
	content: "";
display: none;
width: 6px;
height: 9px;
border-right: #ffffff solid 2px;
border-bottom: #ffffff solid 2px;
-webkit-transform: rotate(
35deg);
transform: rotate(
35deg);
position: absolute;
bottom: 5px;
right: 4px;
z-index: 2;
}
.e_loop .p_active .p_mbutton::before{
	display: block;
}
.e_loop .p_active .p_mbutton::after{
	display: block;
}
