<div class="e_video s_img" needjs="true">
    {{#each prop.videoList}}
    {{#eq @index 0}}
    <div class="p_video">
        <span class="cover">
            <img class="playBtn" src="/npublic/img/playVideo.png" alt="">
            {{#if coverImgUrl}}
                <div class="coverImage">
                    {{{nLazyImage coverImgUrl '' 'false'}}}
                </div>
            {{/if}}
        </span>
        <video class="video" src="{{url}}" muted></video>
    </div>
    {{/eq}}
    {{/each}}
</div>