<div class="video e_video p_video" needjs="true">
    <span class="cover">
        <img class="playBtn" src="/public/img/playVideo.png" alt="">
        {{#if prop.coverImage}}
            <img class="coverImage" src="{{prop.coverImage}}" alt="">
        {{/if}}
    </span>
    <video class="video" src="{{prop.video}}" muted></video>
    <input type="hidden" value='{{{propJson}}}' name="propJson" />
</div>