.e_navigationF .p_navBox1{
    display: flex;
    justify-content: flex-end;
}

.e_navigationF .p_navItem1 > p{
    display: flex;
    position: relative;
}
.e_navigationF .p_navItem1 > p a{
    display: block;
}
.e_navigationF .p_navItem1 > p svg{
    display:none;
}
.e_navigationF .p_navItem1 > p::after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    margin: 0 auto;
    transition: all ease .3s;
}
.e_navigationF .p_navItem1 > p:hover::after{
    width: 100%;
}
.e_navigationF .p_navBox2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    transition: all ease .3s;
}
.e_navigationF .p_navBox2 ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.e_navigationF .haveThree ul{
    flex-direction: row;
    justify-content: flex-end;
}
.e_navigationF .haveThree .p_navItem2 svg{
    display:none;
}
.e_navigationF .p_navItem2 a span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.e_navigationF .p_navItem2 > p svg{
    display:none;
}
.e_navigationF .p_level3Box.p_listthree{
    flex-direction: column;
}

.p_haveNav{
    min-height: auto !important;
}