.e_navigationF .p_navButton {
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.e_navigationF .p_navBox1{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f5f5f5;
    padding: 0 15px;
    height: calc(0vh);
    overflow-y: scroll;
    z-index: 10;
    transition: all ease .3s;
}
.e_navigationF .p_navBox1.pkcclb{
    height: calc(100vh);
}
.e_navigationF .p_navItem1 {
    border-bottom: 1px solid rgb(0 0 0 / 7%);
}
.e_navigationF .p_navItem1 > p,
.e_navigationF .p_navItem2 > p,
.e_navigationF .p_level3Item > p{
    display: flex;
    justify-content: space-between;
}
.e_navigationF .p_navItem1 > p svg,
.e_navigationF .p_navItem2 > p svg,
.e_navigationF .p_level3Item > p svg{
    width: auto;
    margin: 20px 0;
    opacity: .7;
    padding-left: 10px;
    cursor: pointer;
}
.e_navigationF .p_navItem2 > p svg,
.e_navigationF .p_level3Item > p svg{
    margin: 5px 0;
}
.e_navigationF .p_navItem1 a{
    line-height: 60px;
    font-size: 16px;
    color: rgb(0 0 0 / 70%);
    transition: all ease .3s;
}
.e_navigationF .p_navItem1 a:hover{
    color: rgb(0 0 0 / 100%);
}
.e_navigationF .p_navItem2 a{
    display: flex;
    justify-content: flex-start;
    line-height: 30px;
    font-size: 14px;
    color: rgb(0 0 0 / 60%);
}
.e_navigationF .p_navItem2 .p_img,
.e_navigationF .p_level3Item span{
    margin-top: -2px;
    opacity: .8;
}
.e_navigationF .p_navItem2 .p_img img,
.e_navigationF .p_level3Item span img{
    width: 23px;
    margin-right: 10px;
}
.e_navigationF .p_navBox2{
    display: none;
}
.e_navigationF .p_navBox2 > div{
    padding-bottom: 20px;
}
.e_navigationF .p_menuItem{
    padding-left: 33px;
    position: relative;
}
.e_navigationF .p_level3Box{
    display: none;
}
.e_navigationF .p_level3Item{
    margin-bottom: 0;
}
.e_navigationF .p_level3Item span,
.e_navigationF .p_level4Item span{
    display: none;
}
.e_navigationF .p_level4Box{
    display: none;
}
.e_navigationF .p_menuItem::before{
    content:'';
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background: rgb(0 0 0 / 60%);
    border-radius: 100%;
}
.e_navigationF .p_level3Item .p_menuItem{
    display: block;
}
.e_navigationF .p_level4Item .p_menuItem::before{
    display:none;
}