<div class="form-group e_select">
    <label>{{prop.label}}<span class="text-danger p_required">*</span></label>
    <select class="custom-select">
        {{#prop.options}}
        <option value="{{value}}">{{text}}</option>
        {{/prop.options}}
    </select>
    <div class="invalid-feedback">{{prop.error}}</div>
</div>