.e_navigationB .p_navItem1{
    padding: 0 20px;
    line-height: 50px;
}
.e_navigationB .p_iconBox{
<<<<<<< Updated upstream
    height: 57px;
    padding: 10px;
=======
    height: 45px;
    width: 45px;
    background: rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 0px 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
>>>>>>> Stashed changes
}
.e_navigationB .p_openIcon, .e_navigationB .p_closeIcon{
    width: 36px;
    height: 36px;
}