.e_navigationB .p_navItem1{
    padding: 0 20px;
    line-height: 50px;
}
.e_navigationB .p_iconBox{
    height: 57px;
    padding: 10px;
}
.e_navigationB .p_openIcon, .e_navigationB .p_closeIcon{
    width: 36px;
    height: 36px;
}