.e_navigationB .p_navItem1{
    line-height: 50px;
}
.e_navigationB .p_iconBox{
    height: 45px;
    width: 45px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.e_navigationB .p_openIcon{
    width: 100%;
    height: 36px;
}
.e_navigationB .p_closeIcon{
    width: 100%;
    height: 30px;
}
.e_navigationA .p_navButton {
    display: none;
}
.e_navigationB .p_navBox2{
    width: 100%;
    padding: 20px;
}
.e_navigationB .p_navItem1{ 
    padding: 0 20px;
    border: none;
}
.e_navigationB .p_navItem2{
    width: 200px;
    margin: 16px 0;
    text-align: center;
}
.e_navigationB .p_navItem2 + .p_navItem2{
    border-left:1px solid #e8e8e8
}
.e_navigationB .p_img{
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
    display: block;
}
.e_navigationB .p_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}