.e_navigationB  .p_navBox1{
    display: none;
    height: calc(100vh - 57px);
}
.e_navigationB .p_navBox2{ 
   display: none;
   border: none;
   padding-left: 20px;
}
.e_navigationB .p_navItem1{ 
    padding: 0;
<<<<<<< Updated upstream
    margin: 0 20px;
=======
    margin: 0 0px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    line-height: 60px;
>>>>>>> Stashed changes
 }
.e_navigationB .p_navItem2{ 
    border-right: none;
}
.e_navigationB .p_img{ 
    display: none;
}
.e_navigationB .p_jtIcon{ 
    float: right;
    transition: 0.5s;
    margin: 15px 0;
}
.e_navigationB .p_jtHover {
    transition: 0.5s;
    transform: rotate(90deg);
}
.e_navigationB .p_closeIcon{ 
    display: none;
    float: right;
}
.e_navigationB .p_closeIcon, .e_navigationB .p_openIcon{ 
    cursor: pointer;
}
