.e_navigationB .p_navContent{
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0px;
    padding: 20px;
    background-color: #fff;
}
.e_navigationB .p_navButton{
    display: flex;
    justify-content: flex-end;
}
.e_navigationB  .p_navBox1{
    width: 100%;   
}
.e_navigationB .p_navItem1{ 
    font-size: 14px;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
    line-height: 50px;
    padding: 0;
 }
.e_navigationB .p_navItem2{ 
    border: none;
    width: 100%;
    margin:  0;
    text-align: left;
}
.e_navigationB .p_img{ 
    display: none;
}
.e_navigationB .p_jtIcon{ 
    float: right;
    transition: 0.5s;
    height: 30px;
    margin-top: 10px;
}
.e_navigationB .p_jtHover {
    transition: 0.5s;
    transform: rotate(90deg);
}
.e_navigationB .p_navBox2{
    border: none;
    padding:0 0 0 20px;
    display: none;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.e_navigationB .p_navItem2 + .p_navItem2{
    border:none
}