<div class="e_uploadFile s_form1" needjs="true">
    {{#if prop.showLabel}}
    <label class="p_label">
        <span class="s_label">{{prop.label}}</span>
        {{#if prop.validate.required.value}}<span class="text-danger p_required">*</span>{{/if}}
    </label>
    {{/if}}
    <div class="p_fileList clearfix"></div>
    <div class="p_upload">
        <div class="p_uploadBtn">
            <input type="file" name="file" class="uploadInput" multiple>
            <button class="btn btn-primary btn-sm">上传</button>
        </div>
        {{#if prop.showPlaceholder}}
        <span class="s_other">{{prop.placeholder}}</span>
        {{/if}}
    </div>
    <input type="hidden" name="${elemId}" class="p_input">
    <div class="invalid-feedback"></div>
</div>