
.e_preView .p_scroll_main{
    display: flex;
    flex-wrap: wrap;
    height: 44px;
}
.e_preView .p_scroll_item{
    width: 20%;
   
}
.e_preView .p_scroll_item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.e_preView .p_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.e_preView .p_img_div{
    margin-bottom: 8px;
}
.e_preView .p_img_a{
    height: 240px;
    display: block;
}
.e_preView .p_img_a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.e_preView .p_scroll_item_a{
    display: block;
  border: 1px solid #ddd;
  height: 42px;
  padding: 1px;
  cursor: default;
  margin-right: 8px;
}
.e_preView .p_scroll_item.curr a{
    border-color:rgba(64, 158, 255, 1);
}
.e_preView .p_listimg{
    display: none;

}
.e_preView  div.active{
    display: block;
}