<div class="e_subForm" needjs="true">
    {{#if prop.showLabel}}
    <div class="p_title">{{prop.label}}</div>
    {{/if}}
    <div class="p_thead">
        {{#prop.content}}
            <div class="p_th">{{#eq @last true}}操作{{/eq}}</div>
        {{/prop.content}}
    </div>
    <div class="p_tbody">
        <div class="p_tr">
        {{#prop.content}}
            <div class="cbox-${id}-{{@index}} p_td">{{#eq @last true}}<a class="text-primary p_remove" href="javascript:;">移除</a>{{/eq}}</div>
        {{/prop.content}}
        </div>
    </div>
    {{#if prop.showBtn}}
    <div>
        <a href="javascript:;" class="btn btn-primary btn-sm p_addRow">{{prop.btnText}}</a>
    </div>
    {{/if}}
</div>