<div class="e_image">
    {{#if $jumpLik(prop.href)}}
        <a href="{{$jumpLik(prop.href)}}" target="{{prop.link.target}}">
    {{/if}}
    {{{lazyImage prop.src "title='{{prop.title}}' alt='{{prop.alt}}'" "true"}}}
    {{#if prop.href}}
        </a>
    {{/if}}
</div>