<div class="e_image s_img">
    {{#prop.imgList}}
        {{#eq @index 0}}
        {{#if ${imgList$href}.value}}
            <a href="{{$transferLink ${imgList$href} compId}}" target="{{${imgList$href}.target}}">
        {{/if}}
        {{{lazyImage url "alt='{{${imgList$title}}}'" "{{isLazy}}"}}}
        {{#if ${imgList$href}.value}}
            </a>
        {{/if}}
        {{/eq}}
    {{/prop.imgList}}
</div>