.e_bottomNav span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.e_bottomNav .p_level1Item{
    width: auto;
    padding: 0 15px;
    flex-grow: 1;
}
.e_bottomNav .p_level2Box{}
.e_bottomNav .p_level3Box{
    display: none;
}