.e_bottomNav .p_menuItem {
    display: flex;
    justify-content: space-between;
}
.e_bottomNav .p_level1Box ul {
    display: none;
}
.e_bottomNav .p_level2Box,
.e_bottomNav .p_level3Box {
    padding-left: 10px;
}
.e_bottomNav .p_jtIcon {
    align-items: stretch;
    width: auto;
    height: auto;
    max-width: 25px;
    font-size: inherit;
    transition: 0.5s;
}
.e_bottomNav .p_jtIcon.active {
    transform: rotateZ(90deg);
}
