.p_contrast,
.p_contrast_hidden{
    display: block;
    opacity: 1;
}
.p_obscuration{
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
}
.p_contrast_list{
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition:all 1s;
}
.p_obscuration.show .p_contrast_list{
    width: 100%;
    position: absolute;
    bottom: 0;
    transition:all 1s;
}
.p_title{
    display: none;
}
.p_data_list{
    flex-direction: column;
}
.p_item{
    border-right: none;
    border-bottom: 1px solid #ddd;
}
.p_last_item{
    width: 100%;
    border-right: none;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.p_item_delete{
    display: block;
}