<div class="e_floating" needjs="true">
    <div class="p_comp" data-ename="组件容器">
        <div class="badge-primary p-1 p_contrast" data-ename="对比按钮（mo）">
            <span class="p_contrast_text">{{i18n.contrast}}</span>
            <span class="p_contrast_num" data-ename="对比数量"></span>
        </div>
        <div class="p_obscuration" data-ename="蒙层">
            <div class="bg-white p_contrast_list" data-ename="对比列表">
                <div class="alert alert-danger p_danger hide" data-ename="提示语">
                    <span class="j_column"></span>{{i18n.tip}}
                </div>
                <div class="text-primary p_title" data-ename="副标题">
                    <div class="j_tab p_tab">
                    </div>
                    <select class="mx-3 my-2 form-control j_mo_tab p_form-control">
                    </select>
                    <span class="px-3 py-2 p_title_hidden" data-ename="副标题隐藏">{{i18n.hidden}}</span>
                </div>
                <ul class="j_switch_list">
                    <li>
                        <ul class="border border-primary px-sm-2 py-md-2 p_data_list" data-ename="循环体容器">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <input type="hidden" name="i18nJson" value='{{{i18nJson}}}' />
</div>