.e_bannerE .p_btitle{
    font-size: 26px;
}
.e_bannerE .p_smallBBox{
    bottom: 20px;
}
.e_bannerE .p_arr{
    top: auto;
    transform: translateY(0);
    bottom: calc(20px + 120px + 40px);
}
.e_bannerE .p_video_button{
    transform: translateX(0%);
    left: 15px;
    bottom: calc(20px + 120px + 40px);
}
.e_bannerE .p_videobtm{
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
}
.e_bannerE .p_hb{
    height: auto;
    padding: 0;
    flex-direction: row;
}
.e_bannerE .p_btn_prev{
    margin: 0;
    order: -1;
}
.e_bannerE .p_btn_next{
    margin: 0 0 0 10px;
}
.e_bannerE .p_info_fivebox{
    width: 100%;
    position: static;
    transform: translateY(0%);
}
.e_bannerE .p_big_slide{
    height: 75vh;
}
.e_bannerE .p_info{
    top: 30%;
}