<div class="e_score form-group" needjs="true">
    {{#if prop.showLabel}}
    <label class="p_label">
        {{prop.label}}
        {{#if prop.required}}<span class="text-danger p_required">*</span>{{/if}}
    </label>
    {{/if}}
    <div class="clearfix">
        <div class="p_score"></div>
        <div class="p_hint"></div>
    </div>
    <div class="invalid-feedback"></div>
    <input type="hidden" name="propJson" value='{{{propJson}}}'>
</div>
