.e_productTabList ::-webkit-scrollbar {
    display: none;
}
.e_productTabList .p_tabName {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.e_productTabList .p_nameItem {
    display: inline-block;
    width: auto;
    min-width: 98px;
    padding: 0 5px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-bottom: 1px solid transparent;
}
.e_productTabList .p_nameItem.active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}
.e_productTabList .p_tabContent{
    padding: 25px 0;
}
.e_productTabList .p_contentItem{
    display: none;
}
.e_productTabList .p_contentItem.active{
    display: block;
}

/* 产品描述 */
.e_productTabList .p_infoItem{
    overflow: hidden;
    margin-bottom: 25px;
}
.e_productTabList .p_attrItem{
    width: 25%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 15px;
}
.e_productTabList .p_summary{
    padding: 10px 0;
}
.e_productTabList .p_keywordLabel{
    float: left;
    display: block;    
    height: 28px;
    line-height: 28px;
}
.e_productTabList .p_keywordValue{
   float: left;
   overflow: hidden;
}
.e_productTabList .p_keywordItem{
   padding: 0 15px;
   border-radius: 5px;
   float: left;
   height: 28px;
   line-height: 28px;
   margin-left: 15px;
}

/* 参数 */

.e_productTabList .p_groupName{
    padding-left: 45px;
    height: 35px;
    line-height: 35px;
 }
.e_productTabList .p_params{
    display: flex;
    line-height: 35px;
 }
.e_productTabList .p_paramsName{
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
    width: 20%;
    padding:0 15px;
    white-space: normal;
    overflow: hidden;
}
.e_productTabList .p_paramsValue {
    padding:0 15px;
 }

 