<div class="e_subImg s_img">
    {{#if prop.href.value}}
        <a href="{{$transferLink prop.href compId}}" target="{{prop.href.target}}">
    {{/if}}
        {{{nLazyImage prop.imgList prop.title prop.setting.isLazy}}}
    {{#if prop.href.value}}
        </a>
    {{/if}}
</div>